In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final.csv')

In [3]:
df = df[df['MB'] == 1]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3455 entries, 2 to 19592
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   q8      3455 non-null   float64
 1   q9      3455 non-null   float64
 2   q10     3455 non-null   float64
 3   q11     3455 non-null   float64
 4   q12     3455 non-null   float64
 5   q17     3455 non-null   float64
 6   q19     3455 non-null   float64
 7   q26     3455 non-null   float64
 8   q27     3455 non-null   float64
 9   q28     3455 non-null   float64
 10  q29     3455 non-null   float64
 11  q30     3455 non-null   float64
 12  q31     3455 non-null   float64
 13  q35     3455 non-null   float64
 14  q38     3455 non-null   float64
 15  q39     3455 non-null   float64
 16  q46     3455 non-null   float64
 17  q49     3455 non-null   float64
 18  q50     3455 non-null   float64
 19  q51     3455 non-null   float64
 20  q52     3455 non-null   float64
 21  q53     3455 non-null   float64
 22  q54     3455 non-null   float64
 23  q55     3455 non-null   float64
 24  q58     3455 non-null   float64
 25  q59     3455 non-null   float64
 26  q60     3455 non-null   float64
 27  q61     3455 non-null   float64
 28  q74     3455 non-null   float64
 29  q75     3455 non-null   float64
 30  q79     3455 non-null   float64
 31  q80     3455 non-null   float64
 32  q81     3455 non-null   float64
 33  q82     3455 non-null   float64
 34  q84     3455 non-null   float64
 35  q85     3455 non-null   float64
 36  q87     3455 non-null   float64
 37  q92     3455 non-null   float64
 38  MB      3455 non-null   float64
dtypes: float64(39)
memory usage: 1.1 MB

In [5]:
MB = df[['q30', 'q17', 'q79', 'q84', 'q75', 'q51', 'q92', 'q38', 'q85', 'q82']]

In [6]:
MB.head()

   q30       q17   q79   q84       q75  q51  q92       q38       q85  q82
2  0.0  0.000000  0.00  0.25  0.000000  0.2  0.0  0.000000  1.000000  0.0
3  0.0  0.000000  0.00  0.50  1.000000  0.2  0.0  0.000000  0.500000  0.0
4  0.0  0.000000  0.25  0.50  0.714286  0.0  0.0  0.333333  0.666667  0.0
6  0.0  0.000000  0.25  0.50  1.000000  0.0  0.0  0.000000  0.833333  0.0
8  0.5  0.142857  0.00  0.50  0.571429  0.0  0.0  0.000000  1.000000  0.0

In [9]:
MB_most = MB.mode().iloc[0]
print(MB_most)

q30    0.000000
q17    0.000000
q79    0.000000
q84    0.750000
q75    1.000000
q51    0.000000
q92    0.000000
q38    0.000000
q85    0.666667
q82    0.000000
Name: 0, dtype: float64

In [11]:
MB_least = MB.apply(lambda col: col.value_counts().idxmin())
print(MB_least)

q30    1.000000
q17    0.857143
q79    0.750000
q84    0.000000
q75    0.142857
q51    0.800000
q92    0.800000
q38    0.833333
q85    0.000000
q82    0.500000
dtype: float64

In [26]:
df1 = pd.read_csv('demographic.csv')

In [30]:
demographic = df1[['raceeth', 'q7', 'q64', 'q6', 'q1', 'q4']]

In [32]:
demographic_most = demographic.mode().iloc[0]
print(demographic_most)

raceeth    0.571429
q7         0.249643
q64        0.000000
q6         0.530048
q1         0.500000
q4         1.000000
Name: 0, dtype: float64

In [34]:
demographic_least = demographic.apply(lambda col: col.value_counts().idxmin())
print(demographic_least)

raceeth    0.428571
q7         0.866658
q64        1.000000
q6         0.000000
q1         0.166667
q4         0.799704
dtype: float64